<!--
  This template was loaded because of the '/pet/:petId' route (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<nav-page title="pet.title">
  <content has-header="true" padding="false">
    <div class="item item-divider">
           <i class="icon ion-ios7-location assertive"></i> <span class="assertive">California, USA.</span> <i class="icon ion-earth energized"> Chrome</i>           
    </div>
    {{ pet.description }}
    
<div class="chat">
    <div class="bubble2 me"><span class='tail'>&nbsp;</span>
    Hello there! Here's some more text for your bubble. And here's a bit more text so that wrapping happens.
     <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
    </div>
       
    <div class="bubble2 you"><span class='tail2'>&nbsp;</span> And here's a bit more text so that wrapping happens.
       <time datetime="2009-11-13T20:14">37 mins</time>
    </div>
    
     <div class="bubble2 you"><span class='tail2'>&nbsp;</span> are you there?
       <time datetime="2009-11-13T20:14">22 mins</time>
    </div>
            
</div>


     <div class="list">
   <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Email">
    </label>
    <button class="button button-small">
      Cancel
    </button>
  </div>
  </div>
  </content>
  

</nav-page>