#splash-page {
  background-color: white;
}
#logo {
  background: url('../img/ionic.png') no-repeat transparent;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -64px 0px 0px -64px;
}


/* bubble box */
/* http://www.ilikepixels.co.uk/drop/bubbler/ */
/*
.bubble 
{
position: relative;
width: 250px;
height: 130px;
padding: 0px;
background: #f5f5f5;
-webkit-border-radius: 17px;
-moz-border-radius: 17px;
border-radius: 17px;
border: #418DD6 solid 2px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 12px 19px 12px 0;
border-color: transparent #f5f5f5;
display: block;
width: 0;
z-index: 1;
left: -19px;
top: 29px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 13px 20px 13px 0;
border-color: transparent #418DD6;
display: block;
width: 0;
z-index: 0;
left: -22px;
top: 28px;
}
*/
 /* http://stackoverflow.com/questions/8866736/css-speech-bubble-with-box-shadow */
.chat {
    width: 400px;
    font-family: sans-serif;
    font-size:small;
}

.bubble2 {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}
.bubble3 {
    background-color: #D1C952;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}


.tail {
    //box-sizing: border-box;
    //border:1px dotted red;
    position: absolute;
    top: 12px;
    left: -18px;
    height: 18px;
    width:18px;
    overflow:hidden;
}
.tail:before {
    //box-sizing: border-box;
    //border:1px dotted green;
    background-color: #F2F2F2;
    box-shadow: 0 0 6px #B2B2B2;
    content: "\00a0";

    display: block;
    position: absolute;
    top: 0px;
    left: 12px;
    height: 12px;
    width:  12px;
    -webkit-transform: skew( -45deg );
    -moz-transform:    skew( -45deg );
}

.tail2 {
    //box-sizing: border-box;
    //border:1px dotted red;
    position: absolute;
    top: 12px;
    right: -18px;
    height: 18px;
    width:18px;
    overflow:hidden;
}
.tail2:before {
    //box-sizing: border-box;
    //border:1px dotted green;
    background-color: #F2F2F2;
    box-shadow: 0 0 6px #B2B2B2;
    content: "\00a0";

    display: block;
    position: absolute;
    top: 0px;
    right: 12px;
    height: 12px;
    width:  12px;
    -webkit-transform: skew( -45deg );
    -moz-transform:    skew( -45deg );
}
.me time {
    display: block;
  font-size: 0.7rem;
  color: #ccc;
}
.me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}
.you {
    float: right;   
    margin: 5px 45px 5px 20px;         
    background-color: #D1C952;
}
.you time {
  display: block;
  font-size: 0.7rem;
  color: #888;
}
.you .tail2:before {
  background-color: #D1C952;
}

